


<form action="/{{trail.id}}?_method=put" method="POST">
  <div class="row">
    <div class="input-field col s6">
  Name:<br>
  <input type="text" name="name" value= {{trail.name}}><br>
  Distance:<br>
  <input type="text" name="distance" value = {{trail.distance}}>
  Location:<br>
  <input type="text" name="location"  value = {{trail.location}}>
  Elevation gain:<br>
  <input type="text" name="elv_gain" value = {{trail.elev_gain}}>
  <input type="submit" value="Submit">
</form>
